@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}
.buttonsList {
  display: flex;
  width: 280px;
  height:220px;
/*   margin-left: -2em; */
  flex-wrap: wrap;
  padding-left: 0px;
}

#zero{
    border-radius: 0 0 0 10px;
}
#equals{
  border-radius: 0 0 10px;
  flex-grow: 1;
}
input {
  font-size: 2em;
  background-color: lightblue;
  border: 1px solid black;
  flex-basis: 25%;
}
#display-container {
  background-color: black;
  width: 280px;
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: nowrap;
  border-radius: 10px 10px 0 0;
}
#display {
  font-family: 'digital-clock-font';
  font-size: 44px;
}

.calculator-box {
  background-color: #ccc;
  display: flex;
  height: 380px;
  width: 320px;
  margin: auto;
  margin-top: 10em;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
.compute, #equals {
  background-color: #ffbf80;
}
#id {
  color:white;
}
.btn {
  outline: none;
}
.btn:active {
  background-color: lightgray;
}
div > span {
  color: white;
  font-size: 2em;
  padding-right: .2em;
}
.error-message {
  text-align: center;
  color: red;
}
